/* Effetto al passaggio del mouse (hover) */
.nav-link:hover {
  color: #488B49;  /* Colore giallo per il testo al passaggio del mouse */
  text-decoration: none; /* Rimuove la sottolineatura predefinita di Bootstrap */
}

/* Effetto per il link attivo */
.nav-link.active {
  color: #488B49 !important;  /* Colore giallo per il testo quando il link è attivo */
  font-weight: bold; /* Rende il testo più evidente quando attivo */
}

/* Stile di base per i link */
.nav-link {
  color: black;  /* Colore di testo di default (nero) */
}

/* Imposta una larghezza massima per il logo Pricelist */
header img {
  /* width: 120px;  /* Imposta una larghezza fissa per desktop */
  /* height: auto;  Mantiene le proporzioni dell'immagine */
} 

/* Media Query per dispositivi mobili e schermi più piccoli */
@media (max-width: 768px) {
  header img {
      width: 120px;  /* Riduci la larghezza su schermi piccoli (ad esempio, 80px su mobile) */
  }
}

@media (max-width: 480px) {
  header img {
      width: 300px;  /* Riduci ulteriormente su schermi molto piccoli */
  }
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem; /* Imposta il font più grande */
}

.service-name {
  flex-grow: 1; /* Fa sì che il testo del servizio occupi tutto lo spazio disponibile */
}

.price {
  margin-left: 10px;
  font-size: 1.5rem; /* Imposta il font più grande per il prezzo */
}


  .list-group-item {
    border-bottom: 2px solid #488B49; /* Linea dorata tra gli elementi */
    padding: 10px 15px;
  }

  /* Card */
  .card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.navbar {
  position: sticky;
  top: 0; 
  z-index: 1000; 
}

.debug-btn {
  position: relative !important;
  z-index: 1000 !important;
  background-color: red !important;
}

.header-img {
  height: 450px;      
  width: 100%;        
  object-fit: cover;  
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Paginate Custom */
.pagination-custom {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 0.85rem; /* Più piccolo il testo */
}

.pagination-custom .page-link {
    color: #000;
    padding: 6px 14px; /* Riduci spazio interno */
    font-size: 0.85rem; /* Riduci la dimensione del font */
    border-radius: 50px;
    background-color: #f8f9fa;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.pagination-custom .page-link:hover {
    transform: scale(1.05);
    background-color: #212529;
    color: #fff;
}

.pagination-custom .page-item.active .page-link {
    background-color: #212529;
    color: #fff;
}

.pagination-custom .page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #ccc;
}

/* Chi Siamo */
.containerCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem; /* Ridotto il gap tra le card per renderle più compatte */
}

.containerCard .box {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 0.5rem; /* Ridotto il margine tra le card */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Aggiunto per arrotondare gli angoli delle card */
    overflow: hidden;
}

.imgBoxCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.imgBoxCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.85); /* Leggera trasparenza */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.contentCard h2 {
    display: block;
    font-size: 1.2rem;
    color: #111;
    font-weight: 600;
    line-height: 1.5rem;
}

.contentCard span {
    color: #413e3e;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Hover Effects */
.containerCard .box:hover .imgBoxCard {
    transform: scale(1.05); /* Ingrandimento più lieve */
}

.containerCard .box:hover .contentCard {
    transform: translateY(10px); /* Spostamento meno pronunciato per un effetto più morbido */
}

/* Media Queries */
@media (max-width: 600px) {
    .containerCard .box {
        width: 13rem;
        height: 13rem;
    }

    .containerCard .box:hover .contentCard {
        transform: translateY(10px);
    }

    .containerCard .box:hover .imgBoxCard {
        transform: scale(1.03);
    }

    .card:hover {
        transform: scale(1.03);
    }

    .grayscale-img {
        filter: grayscale(100%);
    }

    .grayscale-img:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
    }
}





    


